<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}" lang="en">
<div layout:fragment="content">
    <div class="card">
        <div class="card-title">Modify Page</div>
        <form action="/board/modify" method="post">
            <input type="hidden" name="bno" th:value="${board.bno}">
            <input type="hidden" name="author" th:value="${board.author}">

            <div class="input-group mb-3">
                <span class="input-group-text">Title</span>
                <input type="text" name="title" class="form-controller" th:value="${board.title}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Content</span>
                <textarea name="content" class="form-controller col-sm-5" rows="5">[[${board.content}]]</textarea>
            </div>
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-primary">Modify</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>

</div>