<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}" lang="en">
<div layout:fragment="content">
    <div class="card">
        <form action="/board/list" method="get">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                    <select class="form-select" name="type">
                        <option value="">---</option>
                        <option value="t">제목</option>
                        <option value="c">내용</option>
                        <option value="w">작성자</option>
                        <option value="tc">제목+내용</option>
                        <option value="tcw">제목+내용+작성자</option>
                    </select>
                    </div>
                </div>
            </div>
        </form>
        <div class="card-title">Register Page</div>
        <!-- /*       <form action="/board/register" method="post"> */-->
        <div class="input-group mb-3">
            <span class="input-group-text">Bno</span>
            <input type="text" name="bno" class="form-controller" th:value="${board.bno}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Title</span>
            <input type="text" name="title" class="form-controller" th:value="${board.title}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Content</span>
            <textarea name="content" class="form-controller col-sm-5" rows="5">[[${board.content}]]</textarea>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Author</span>
            <input type="text" name="author" class="form-controller" th:value="${board.author}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">ReadCount</span>
            <input type="text" name="readcount" class="form-controller" th:value="${board.readcount}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">RegDate</span>
            <input type="text" name="author" class="form-controller" th:value="${board.regDate}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">UpdateDate</span>
            <input type="text" name="author" class="form-controller" th:value="${board.updateDate}">
        </div>
        <div class="input-group mb-3">
            <a th:href="|@{/board/modify(bno=${board.bno})}&${link}|">
                <button type="button" class="btn btn-primary">Modify</button>
            </a>
            <a th:href="@{/board/remove(bno=${board.bno})}">
                <button type="button" class="btn btn-danger">Remove</button>
            </a>
            <a th:href="|@{/board/list}?${link}|">
                <button type="button" class="btn btn-secondary">List</button>
            </a>
        </div>
        <!--/*        </form> */-->
    </div>

</div>