<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}" lang="en">
<div layout:fragment="content">
    <div class="card">
        <div class="card-title">Register Page</div>
        <form action="/board/register" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text">Title</span>
                <input type="text" name="title" class="form-controller" placeholder="Title">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Content</span>
                <textarea name="content" class="form-controller col-sm-5" rows="5"></textarea>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Author</span>
                <input type="text" name="author" class="form-controller" placeholder="Author">
            </div>
            <div class="input-group mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>

</div>