<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}"
      lang="en">
<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <div class="card-title">List Page</div>
            <table class="table table-striped">
                <thead>
                 <tr>
                    <th scope="col">Bno</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">PostDate</th>
                    <th scope="col">ReadDate</th>
                 </tr>
                </thead>
                <tbody>
                 <tr th:each="dto:${boardList}">
                     <td>[[${dto.bno}]]</td>
                     <td><a th:href="@{/board/read(bno=${dto.bno})}">[[${dto.title}]]</a></td>
                     <td>[[${dto.author}]]</td>
                     <td>[[${dto.postdate}]]</td>
                     <td>[[${dto.readcount}]]</td>
                 </tr>`
                </tbody>
            </table>
        </div>
    </div>
</div>