<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" lang="en">
<div layout:fragment="content">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">게시글 상세보기</h5>
            <!-- /*     <form method="post" action="/board/register"> */-->
            <div class="mb-3">
                <label class="form-label">Bno</label>
                <input type="text" class="form-control" name="title" th:value="${board.bno}" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" name="title" th:value="${board.title}" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">Content</label>
                <textarea class="form-control" name="content" rows="3" readonly>[[${board.content}]]</textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Author</label>
                <input type="text" class="form-control" name="Author" th:value="${board.Author}" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">VisitCount</label>
                <input type="text" class="form-control" name="visitcount" th:value="${board.readcount}" readonly>
            </div>
            <div class="mb-3">
                <label class="form-label">PostDate</label>
                <input type="text" class="form-control" name="postdate" th:value="${board.postdate}" readonly>
            </div>
            <div class="mb-3">
                <a th:href="@{/board/modify(bno=${board.bno})}">
                    <button type="button" class="btn btn-primary">Modify</button>
                </a>
                <a th:href="@{/board/list}">
                    <button type="button" class="btn btn-secondary">Board List</button>
                </a>
            </div>
            <!--/*      </form> */-->
        </div>
    </div>

</div>