<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:text="${list}"></div>
    <div th:text="${maps}"></div>
    <div>[[${maps}]]</div>
    <div th:text="${maps.홍길동}"></div>
    <div>[[${sampleDTO}]]</div>
    <div th:text="${sampleDTO}"></div>
    <div>[[${sampleDTO.name}]]</div>

<script th:inline="javascript">
    const list=[[${list}]]
    const map=[[${maps}]]
    const dto=[[${sampleDTO}]]

    console.log(list)
    console.log(map)
    console.log(dto)
</script>
</body>
</html>