<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<h1 th:text="${msg}"></h1>
<h1>[[${msg}]]</h1>

<div th:with="num1=${10}, num2=${20}, num3=${30}">
    <h4 th:text="${num1+num2+num3}"></h4>
    <h4>[[${num1+num2+num3}]]</h4>
    <span th:if="${num1>num2}">[[${num1}]]</span>
    <span th:unless="${num1>num2}">[[${num2}]]</span>
</div>
<!--/* 주석처리1: 코드에서만 보임 html에선 x */-->
<!-- 주석처리2 -->
</body>

</html>