<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" lang="en">
<div layout:fragment="content">
    <div class="card">
        <form action="/board/list" method="get">
            <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
            <div class="col">
                <div class="input-group mt-3 mb-lg-3">
                    <div class="input-group-prepend">
                        <select class="form-select" name="type">
                            <option value="">---</option>
                            <option value="t" th:selected="${pageRequestDTO.type=='t'}">제목</option>
                            <option value="c" th:selected="${pageRequestDTO.type=='c'}">내용</option>
                            <option value="w" th:selected="${pageRequestDTO.type=='w'}">작성자</option>
                            <option value="tc" th:selected="${pageRequestDTO.type=='tc'}">제목+내용</option>
                            <option value="tcw" th:selected="${pageRequestDTO.type=='tcw'}">제목+내용+작성자</option>
                        </select>
                    </div>
                    <input type="text" class="input-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                    <button class="btn btn-secondary serchBtn" type="submit">검색</button>
                </div>
            </div>
        </form>
        <div class="card-body">
            <h5 class="card-title">List Page</h5>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Bno</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">RegDate</th>
                    <th scope="col">UpdateDate</th>
                    <th scope="col">ReadCount</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="board:${responseDTO.dtoList}">
                        <td>[[${board.bno}]]</td>
                        <td><a th:href="@{/board/read(bno=${board.bno})}">[[${board.title}]]</a></td>
                        <td>[[${board.author}]]</td>
                        <td>[[${board.regDate}]]</td>
                        <td>[[${board.updateDate}]]</td>
                        <td>[[${board.readcount}]]</td>
                    </tr>
                </tbody>
            </table>
            <div class="float-end">
                <ul class="pagination">
                    <li class="page-item" th:if="${responseDTO.prev}">
                        <a class="page-link" th:data-num="${responseDTO.start -1}">Previous</a>
                    </li>
                    <th:block th:each="i:${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                        <li th:class="${responseDTO.page==i}?'page-item active':'page-item'">
                            <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:if="${responseDTO.next}">
                        <a class="page-link" th:data-num="${responseDTO.end +1}">Next</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>
<script layout:fragment="script" th:inline="javascript">
    document.querySelector(".pagination").addEventListener("click",function (e){
        e.preventDefault()
        e.stopPropagation()
        const target=e.target
        if(target.tagName!=='A'){
            return
        }
        const num=target.getAttribute("data-num")

        const formObj=document.querySelector("form")

        formObj.innerHTML+= `<input type='hidden' name='page' value='${num}'>`
            formObj.submit()
            // self.location=/board/list?page=${num}
            },false)
</script>