<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" lang="en">
<div layout:fragment="content">
    <div class="card">
        <div class="card-title">Register Page</div>
<!--/*        <form action="/board/register" method="post">*/-->
            <div class="input-group mb-3">
                <span class="input-group-text">Bno</span>
                <input type="text" name="bno" class="form-controller" th:value="${board.bno}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Title</span>
                <input type="text" name="title" class="form-controller" th:value="${board.title}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Content</span>
                <textarea name="content" class="form-controller col-sm-5" rows="5">[[${board.content}]]</textarea>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Author</span>
                <input type="text" name="author" class="form-controller" th:value="${board.author}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">ReadCount</span>
                <input type="text" name="readcount" class="form-controller" th:value="${board.readcount}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">RegDate</span>
                <input type="text" name="regdate" class="form-controller" th:value="${board.regDate}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">UpdateDate</span>
                <input type="text" name="updateDate" class="form-controller" th:value="${board.updateDate}">
            </div>
            <div class="input-group mb-3">
                <a th:href="@{/board/modify(bno=${board.bno})}">
                    <button type="button" class="btn btn-primary">Modify</button>
                </a>
                <a th:href="@{/board/remove(bno=${board.bno})}">
                    <button type="button" class="btn btn-danger">Remove</button>
                </a>
                <a th:href="@{/board/list}">
                    <button type="button" class="btn btn-secondary">List</button>
                </a>
            </div>
<!--/*        </form>*/-->
    </div>
</div>