<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Title</title>
</head>
<body>
<div>
    <h2>Sample Layout Header</h2>
</div>
<div layout:fragment="content">
    <p>sample</p>
</div>
<div>
    <h2>Sample Layout Footer</h2>
</div>
<th:block layout:fragment="script">
</th:block>
</body>
</html>